<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="com.spring.beans.User" id="user">
        <property name="name" value="Ram Kumar" />
        <property name="email" value="ram@gmail.com" />
        <property name="pass" value="9000" />
        <property name="roll" value="1001" />
    </bean>

</beans>