<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="springcore.beans.Car" id="car" abstract="true">
        <property name="model" value="creta 2025" />
        <property name="enginePower" value="2300" />
        <property name="company" value="hyundai" />
    </bean>

    <bean class="springcore.beans.Car" id="car2" parent="car">
         <property name="regNo" value="br455212" />
         <property name="tyre" value="mrf" />
          <property name="fuelType" value="Petrol" />
    </bean>

    <bean class="springcore.beans.Car" id="car3" parent="car">
         <property name="regNo" value="br-4342" />
         <property name="tyre" value="ceat" />
          <property name="fuelType" value="CNG" />
    </bean>
    
</beans>