<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="springcore.beans.Car" id="car">
        <property name="model" value="creta 2025" />
        <property name="regNo" value="xh-2343" />
        <property name="tyre" value="mrf" />
        <property name="enginePower" value="2300" />
        <property name="fuelType" value="Petrol" />
        <property name="company" value="hyundai" />
    </bean>
    
</beans>