<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="pattern.beans.Delhivery" id="delhivery"></bean>

    <bean class="pattern.beans.Amazon" id="amazon">
        <constructor-arg ref="delhivery" />
    </bean>

</beans>