<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="springcore.beans.Student" id="student" abstract="true">
        <property name="subjects">
            <set>
                <value>English</value>
                <value>Maths</value>
            </set>
        </property>
    </bean>

    <bean class="springcore.beans.Student" id="s1" parent="student">
        <property name="subjects">
            <set merge="true">
                <value>Networking</value>
                <value>OOPL</value>
                <value>DSA</value>
            </set>
        </property>
    </bean>

</beans>