<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!-- <bean class="springcore.beans.Phone" id="p1">
        <property name="phoneNo" value="542175" />
    </bean> -->

    <bean class="springcore.beans.User" id="u1">
        <constructor-arg name="phone">
            <bean class="springcore.beans.Phone">
                <property name="phoneNo" value="95824315" />
            </bean>
        </constructor-arg>
    </bean>


    <!-- <bean class="springcore.beans.User" id="u2">
        <constructor-arg name="phone" ref="p1" />
    </bean> -->

</beans>