<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    <bean class="com.app.beans.BankLoanInterestCalculator" id="loanCal">
        <replaced-method name="calLOanInterest" replacer="ciLoan">
            <arg-type>float</arg-type>
            <arg-type>float</arg-type>
            <arg-type>float</arg-type>
        </replaced-method>
    </bean>
    <bean class="com.app.replacer.BankLoanInterestCalculator_CI" id="ciLoan">
    
    </bean>
</beans>