<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="ds">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <!-- <property name="url" value="jdbc:mysql://localhost:3306/layeredapp" /> -->
        <property name="username" value="root" />
        <property name="password" value="ramkumar" />
    </bean>


    <!-- <bean class="org.springframework.jdbc.datasource.SingleConnectionDataSource" id="ds1" parent="ds">
    </bean> -->

    <bean class="com.zaxxer.hikari.HikariDataSource" id="ds1" parent="ds">
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/layeredapp" />
    </bean>

    <bean class="springcore.dao.StudentDaoImpl" id="studentDao">
        <constructor-arg name="dataSource" ref="ds1" />
    </bean>

    <bean class="springcore.service.StudentServiceImpl" id="studetnService">
        <constructor-arg name="studentDao" ref="studentDao" />
    </bean>

    <bean class="springcore.controller.StudentMainController" id="mainController">
        <constructor-arg name="studentService" ref="studetnService" />
    </bean>

</beans>